<<<<<<< HEAD
<div class="container" id="game-box">
=======
>>>>>>> 08c3db134b3196dc38c663f37eed1aac52966de4
  <style>
  <%= @game.css %>
</style>
<div id="game-box">
  <%= raw @game.html %>
</div>
<script>
  <%= @game.javascript.html_safe %>
</script>
