#logo {
  position: absolute;
  left: -25px;
  top: -2px;
  display: inline;
}

#nav {
  position: relative;
  top: 102px;
}

#img_box {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  top: 25px;
}
.languages {
  position: absolute;
  width: 50px;
  top: 0;
}
.kid {
  width: 90px;
  padding: 1px;
  margin: 4px;
  
}

#css_img {
  right: 350px;
  height: 80px;
  width: 80px;
  top: -25px;
}
#html_img {
  right: 1000px;
  height: 80px;
  width: 80px;
  top: -25px;
}
#php_img {
  right: 40px;
  height: 100px;
  width: 100px;
  top: -20px;

}
#js_img {
  right: 200px;
  height: 80px;
  width: 80px;
  top: -3px;

}
a {
  margin: 40px;
  font-family: 'Bubblegum Sans', cursive;

}