body {
  /* padding-top: 170px; */
  font-family: "Roboto Mono", monospace;
  background-image: url("bg (2).png");
  background-size: cover;
  color: white;
}

#logo {
  left: 0;
  display: inline;
}

#nav {
  /* background-color: #138f97; */
  text-align: center;
  height: 100px;
}

#game-box {
  display: flex;
  justify-content: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes reverseSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.spinner,
.innerSpinner {
  width: 600px;
  position: relative;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}
.spinner.rightSpin {
  animation-name: spin;
}

.innerSpinner.leftSpin {
  animation-name: reverseSpin;
}

.spinner img {
  max-width: 100%;
}

div.spinner-container {
  width: 600px;
}

#orange {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}

#yellwo {
  position: absolute;
  top: 70px;
  left: 74%;
  transform: translateX(-50%) rotate(37deg);
}
#yellow2 {
  position: absolute;
  top: 230px;
  left: 520px;
  transform: translateX(-50%) rotate(85deg);
}
#red {
  position: absolute;
  top: 380px;
  left: 480px;
  transform: translateX(-50%) rotate(120deg);
}
#purple {
  position: absolute;
  top: 470px;
  left: 370px;
  transform: translateX(-50%) rotate(155deg);
}
#blue {
  position: absolute;
  top: 460px;
  left: 210px;
  transform: translateX(-50%) rotate(190deg);
}
#blue2 {
  position: absolute;
  top: 370px;
  left: 100px;
  transform: translateX(-50%) rotate(240deg);
}
#green {
  position: absolute;
  top: 210px;
  left: 90px;
  transform: translateX(-50%) rotate(280deg);
}
#green2 {
  position: absolute;
  top: 90px;
  left: 170px;
  transform: translateX(-50%) rotate(315deg);
}

.left {
  width: 100px;
  height: 100px;
}
.right {
  width: 100px;
  height: 100px;
}
