#logo {
  position: fixed;
  left: 2px;
  top: -3px;
  display: inline;
}

#nav {
  position: fixed;
  top: 102px;
  background-color: black;
  text-align: center;
}

#img_box {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  top: 25px;
}
.languages {
  position: absolute;
  width: 50px;
  top: 0;
}
.kid {
  width: 90px;
  padding: 1px;
  margin: 4px;
}

#css_img {
  right: 350px;
  height: 80px;
  width: 80px;
  top: -25px;
}
#html_img {
  right: 1000px;
  height: 80px;
  width: 80px;
  top: -25px;
}
#python_img {
  right: 850px;
  top: -25px;
  height: 90px;
  width: 90px;
}
#php_img {
  right: 40px;
  height: 100px;
  width: 100px;
  top: -31px;
}
#js_img {
  right: 200px;
  height: 80px;
  width: 80px;
  top: -30px;
}
a {
  margin: 40px;
  font-family: "Bubblegum Sans", cursive;
}

.game-target {

  position: absolute;
  left: 50%;
  bottom: -80%;
}

#output{

  position: fixed;
left: 80%;
bottom: 20%;

}